{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add New Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">
                        <h4>Add a New Job </h4>
                        <form method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{form.title | as_crispy_field}}   
                                </div>
                                <div class="col-md-12">
                                    {{form.job_type | as_crispy_field}}   
                                </div>
                                <div class="col-md-12">
                                    {{form.description | as_crispy_field}}   
                                </div>
                                <div class="col-md-12">
                                    {{form.vacancy | as_crispy_field}}   
                                </div>
                                <div class="col-md-12">
                                    {{form.salary | as_crispy_field}}                                      
                                </div>
                                <div class="col-md-12">
                                    {{form.experiences | as_crispy_field}}                                      
                                </div>
                                <div class="col-md-12">
                                    {{form.category | as_crispy_field}}                                      
                                </div>
                                <div class="col-md-12">
                                    {{form.image | as_crispy_field}}                                      
                                </div>
                                <div class="col-md-12 mt-5">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Post Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}