{% extends "base_generic.html" %}
{% block content %}
{% load bootstrap4 %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<div class="d-flex justify-content-center mt-4 ">
  <p>Your account doesn't have access to this page. To proceed,please login with an account that has access.</p>
</div>
{% else %}
<div class="d-flex justify-content-center mt-4 ">
<p>Please login to see this page.</p>
</div>
{% endif %}
{% endif %}
<div class="form-container container d-flex justify-content-center">
<div class="col-md-8 mt-5 ">
  <div class="p-3 mb-2 bg-light text-dark">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
    {# Assumes you set up the password_reset view in your URLconf #}
    <div class="d-flex justify-content-center mt-4 ">
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
  </div>
</div>
{% endblock %}