{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block content %} 
<div class="form-container container d-flex justify-content-center">
    <div class="col-md-8 mt-5 ">
        <div class="p-3 mb-2 bg-white text-dark">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Change password">
            </form>
        </div>
    </div>
</div>
{% endblock %}
